.specialty-edit {
  padding: 20px;
}

.specialty-edit .ant-tabs-nav {
  margin-bottom: 20px;
}

.specialty-edit .ant-form-item {
  margin-bottom: 20px;
}

.course-group {
  margin-top: 30px;
}

.semester-courses {
  display: flex;
  margin-top: 20px;
}

.semesters {
  width: 150px;
  margin-right: 20px;
}

.semesters button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.courses {
  flex-grow: 1;
}

.actions {
  margin-top: 30px;
  text-align: right;
}

.actions button {
  margin-left: 10px;
}